.whiteboard-canvas-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #f3f3f3;
}

.canvas-wrapper {
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
  min-width: 0;
}

.whiteboard-canvas {
  border: 1px solid #ccc;
  cursor: crosshair;
  background: white;
}

